Create your team!

<%= form_for :team, url: create_team_path do %>
  Team Name: <%= text_field_tag :name %><br/>

  <%= submit_tag "Sign Up!" %>
<% end %>

<br/>

<button><%= link_to "Pick your players", users_select_path %></button>