<div class="container">

	<%= render "shared/nav" %>

	<h1>Teams</h1>

	<br/>

	<div class="row">
		<div class="col-sm-12">
			<table class="table table-bordered">
				<tr>
					<th class="cell">Teams</th>
					<th class="cell">Owner</th>
				</tr>
				<% @teams.each do |x| %>
				<tr>
					<td class="cell"><%= link_to x.name, x %></td>
					<td class="cell"><%= x.user.name %></td>
				</tr>
				<%end%>
			</table>
		</div>
	</div>


	<br/>

	<%= link_to "Back", sessions_show_path, class: "btn btn-danger" %>

</div>