<div class="container">

	<h1>Teams</h1>

	<br/>

	<table class="table table-bordered">
		<tr>
			<th>Teams</th>
			<th>Owner</th>
		</tr>
		<% @teams.each do |x| %>
		<tr>
			<td><%= link_to x.name, x %></td>
			<td><%= x.user_id %></td>
		</tr>
		<%end%>
	</table>

	<br/>

	<button><%= link_to "back", sessions_show_path %></button>

</div>