	<div class="icon-bar one-up">
	  <a class="item">
	    <i class="fi-home"></i>
	    <label>Home</label>
	  </a>
	  <a class="item" href="<%= edit_team_path(@user.team) %>">
	  	<i class="fi-widget"></i>
	  	<label>Settings</label>
	  </a>
	  <a class="item">
	    <i class="fi-mail"></i>
	    <label>Messages</label>
	  </a>
	  <a class="item">
	  	<i class="fi-like"></i>
	    <label>Likes</label>
	  </a>
	</div>