	<div class="icon-bar five-up">
	  <a class="item" href="<%= sessions_show_path %>">
	    <i class="fi-home"></i>
	    <label>Home</label>
	  </a>
	  <a class="item" href="<%= edit_team_path(@user.team) %>">
	  	<i class="fi-widget"></i>
	  	<label>Settings</label>
	  </a>
	  <a class="item" data-dropdown="drop">
	  	<i class="fi-list"></i>
	    <label>View</label>
	    	<ul id="drop" class="small f-dropdown" data-dropdown-content>
	    		<li style="font-size:large"><a href="<%= teams_index_path %>">All Teams</a></li>
	    		<li style="font-size:large"><a href="<%= players_list_path %>">All Players</a></li>
	    	</ul>
	  </a>
	  <a class="item">
	    <i class="fi-mail"><span class="badge">4</span></i>
	    <label>Messages</label>
	  </a>
	  <a class="item">
	  	<i class="fi-like"><span class="badge">12</span></i>
	    <label>Likes</label>
	  </a>
	</div>