<h4>Stats</h4>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th style="font-size:medium">Year</th>
				<th style="font-size:medium">BA</th>
				<th style="font-size:medium">HR</th>
				<th style="font-size:medium">RBI</th>
				<th style="font-size:medium">OBP</th>
				<th style="font-size:medium">SLG</th>
			</tr>	
		</thead>
		<tbody>
			<tr>	
				<th style="font-size:medium">2015</th>
				<th style="font-size:medium">.349</th>
				<th style="font-size:medium">24</th>
				<th style="font-size:medium">102</th>
				<th style="font-size:medium">.438</th>
				<th style="font-size:medium">.552</th>
			</tr>
		</tbody>
	</table>