<h1>Players</h1>

<br/>

<ul>
	<% @players.each do |x| %>
	<li><%= link_to x.name, x %>, <%= x.position %> - <%= x.r_team %></li>
	<br/>
	<%end%>
</ul>

<br/>

<button><%= link_to "Back", sessions_show_path %></button>